Options +FollowSymLinks
AllowOverride All
Require all granted

# Включение модуля переписывания
RewriteEngine On

# Разрешаем доступ к robots.txt и sitemap.xml
RewriteRule ^(robots\.txt|sitemap\.xml)$ - [L]

# Раздача статических файлов (Next.js `_next/static` и `public`)
RewriteCond %{REQUEST_URI} ^/_next/static/ [OR]
RewriteCond %{REQUEST_URI} ^/public/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Разрешаем доступ к изображениям, CSS, JS
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Проксируем все запросы на Next.js сервер
ProxyPass / http://localhost:3000/
ProxyPassReverse / http://localhost:3000/
